<div class="cta-card">
    <div class="cta-card-wrap relative border-b border-black pb-32">
        <div class="blurbox">
            <h3><a href="http://localhost:2368/#/portal/signup/free">Sign up for our Weekly Newsletter</a></h3>
            <p class="already" data-portal="signin"">
            <a href="http://localhost:2368/#/portal/signin">Already a {{@site.title}} Member? Login In<svg xmlns="http://www.w3.org/2000/svg" class="inline -mt-1" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M136,128,96,168V88Z" opacity="0.2"></path><path d="M141.66,122.34l-40-40A8,8,0,0,0,88,88v32H24a8,8,0,0,0,0,16H88v32a8,8,0,0,0,13.66,5.66l40-40A8,8,0,0,0,141.66,122.34ZM104,148.69V107.31L124.69,128ZM208,48V208a16,16,0,0,1-16,16H136a8,8,0,0,1,0-16h56V48H136a8,8,0,0,1,0-16h56A16,16,0,0,1,208,48Z"></path></svg></a></p>
        </div>
    </div>
</div>