<ul>
   <li class="dropdown">
       <a href="/about">Topics <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline -mt-.5" fill="#000000" viewBox="0 0 256 256"><path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"></path></svg></a>
       <div class="dropdown-content">
           <a href="#">Notes</a>
           <a href="#">Articles</a>
           <a href="#">Creative Writing</a>
           <a href="#">Poetry</a>
           <a href="#">Culture</a>
           <a href="#">Sports</a>
           <a href="#">See more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="inline -mt-1" fill="#000000" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg></a>
       </div>
   </li>
   <li><a href="/about">About</li>
    <li><a class="sub-link" data-portal="signup" href="/about">Subscriptions</a></li>
    <li><a href="/about">Login</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="inline -mt-1" fill="#000000" viewBox="0 0 256 256"><path d="M136,128,96,168V88Z" opacity="0.2"></path><path d="M141.66,122.34l-40-40A8,8,0,0,0,88,88v32H24a8,8,0,0,0,0,16H88v32a8,8,0,0,0,13.66,5.66l40-40A8,8,0,0,0,141.66,122.34ZM104,148.69V107.31L124.69,128ZM208,48V208a16,16,0,0,1-16,16H136a8,8,0,0,1,0-16h56V48H136a8,8,0,0,1,0-16h56A16,16,0,0,1,208,48Z"></path></svg></li>
</ul>