{{#is 'home'}}
    <h2><a href="{{@site.url}}">{{@site.title}}</a><img class="-mt-3 ml-4 inline" src="{{asset 'img/elephant.svg'}}" width="40" height="40" alt="Pint Icon"></h2>
    <p>Mr. McCarthy had promised Democrats <strong>fair treatment</strong> and a role in governing, but <a href="">then pushed intensely partisan</a> legislation that they found detestable. He cavalierly launched an <strong>impeachment inquiry</strong> into the Democratic president when he found himself on shaky ground with his <strong>right-wing troops</strong>. He cut a spending deal with the White House, then reneged on it — all the while saying he was doing what he thought was right for the nation. Yay!</p>
{{/is}}